.login__img {
  width: 60%;
  text-align: center;
}
.login__img img {
  width: 70%;
  object-fit: contain;
}

.login__form {
  padding: 50px;
  background: var(--secondary-color);
  position: relative;
}

.login__container {
  box-shadow: rgb(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-top: 50px;
  background: rgb(15, 124, 248);
}

.login__container .user {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -9%;
  left: 50%;
  transform: translate(-50%, -9%);
  background: black;
  border-radius: 50px;
}

.login__form .user img {
  width: 100%;
}
.login__form h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}

.login__form {
  width: 50%;
}

.login__form input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  color: var(--heading-color);
}
.login__form input:focus {
  outline: none;
}

.loginauth__btn{
    background: rgb(15, 124, 248) !important;
    color: #fff !important;
    width: 100%;
}
.loginauth__btn:hover{
    background: var(--heading-color) !important;
    color: #fff !important;
    width: 100%;
}

.login__form p{
    font-size: .9rem;
    color: #fff;
    margin-top: 1.5rem;
    text-align: center;

}
.login__form p a{
    text-decoration: none;
    margin-left: 5px;
    font-weight: 600;
    color: black;
}

.login__form p a:hover{
    text-decoration: none;
    margin-left: 5px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}