.footer {
  padding-top: 70px;
  padding-bottom: 30px;
}

.footer .logo img {
  width: 70%;
  margin-bottom: 1rem;
}
.footer .logo p {
  color: var(--text-color);
}

.social__links span a {
  text-decoration: none;
  color: rgb(0, 162, 255);
  font-size: 1.8rem;
}
.social__links span a:hover {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.5rem;
}
.footer__link-title {
  color: var(--heading-color);
  margin-bottom: 1rem;
  align-items: center;
}

.footer__quick-links li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
}

.footer__quick-links h6 span i {
  color: var(--primary-color);
  font-size: 1rem;
  margin-right: 0.5rem;
}

.copyright {
  align-items: center;
  font-size: 0.9rem;
  background: rgb(228, 225, 225);
  padding: 1rem;
}
